extends inventory

block content
  h1= title

  p #[strong Manufacturer:] 
    a(href=car.manufacturer.url) #{car.manufacturer.name}
  p #[strong Category:] 
    a(href=car.category.url)  #{car.category.category}
  p #[strong Manufacture year:] #{car.m_year_start} - #{car.m_year_end}
  p #[strong Horsepower:] #{car.horsepower} bhp
  p #[strong Top speed:] #{car.top_speed} km/h
  p #[strong Price:] #{car.price} 


  hr
  p
    a.btn.btn-outline-danger(href=car.url+'/delete') Delete car
  p
    a.btn.btn-outline-info(href=car.url+'/update') Update Car

