extends inventory

block content
  h1= title

  p #[strong Country:] #{manufacturer.country}



  div
    ul  
        each car in cars
            li 
                a(href=car.url) #{car.model}

  hr
  p
    a.btn.btn-outline-danger(href=manufacturer.url+'/delete') Delete manufacturer